* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
  
:root {
  --bg-color: #f5ebdc;
  --second-bg-color: #ffffff;
  --text-color: #ff3300;

}
  /* Background*/
  body{
    background:var(--second-bg-color)
    
}
  /* Descrição Hamburguer */
.container-cardapio {
    display: flex;
    flex-direction: column; 
    font-family: sans-serif; 
    background:var(--second-bg-color);
    padding: 20px;
  }
  
  .voltar a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lista-carrinho{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
  }

button{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #e63946;
    transition: 0.5s;
}
button:hover{
    background-color: #bb1220;
}
.remove{
    background-color: aliceblue;
}
img{
    width: 30px;
    height: auto;
}
