*{
  margin: 10px 0px;
}
/* Background*/
body{
  background-color: rgb(255, 226, 189);
}

/* NavBar */
header{
  display: flex;
  justify-content: center;
}

ul{
  list-style: none;
  display: flex;
  gap: 100px;
  
}

a{
  text-decoration: none;
  color: #5c2d00;
  font-size: 20px;
}
/* Formulario*/
form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f6eee7;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #5c2d00;
  }
  
  input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    resize: vertical;
  }
  
  button {
    padding: 10px;
    background-color: rgb(255, 51, 0);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #fff;
    appearance: none;
  }
  
  button:hover {
    background-color: #a00000;
  }