*{
    margin: 0px 0px;
}
/* Background*/
body{
    background-color: rgb(255, 226, 189);
    
    
}

/* NavBar */
header{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  ul{
    list-style: none;
    display: flex;
    gap: 100px;
    
  }
  
  a{
    text-decoration: none;
    color: #5c2d00;
    font-size: 20px;
  }
  /* Botão do menu (hambúrguer) */
  .menu-toggle {
    background: none;
    border: none;
    color: #5c2d00;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    top: 10px;
    right: 20px; 
    z-index: 999;
  }
/* Fundadores*/
.container-fundadores {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 200px; 
    margin: 10vh ;
  }
  
.item {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
  
.image-container {
    margin-bottom: 20px; 
    width: 100%;
   
    
}
.image-container img{
    width: 350px;
    height: auto;
}
.text-container {
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    width: 300px; 
    box-sizing: border-box; 
    
}
  /* Como Funciona */
  div .box-texto{
    margin: 10px 5px;
  }
/* footer */
footer{
    background-color: black;
    margin: auto;
    padding: 50px;
    height: 100;
}    
footer .container{
    display: flex;
    color: #fff;
   
   
}
footer .container ul{
    width: 25%;
    display: block;
}
footer .container h2{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .redes-sociais img{
    margin-right: 10px;
}
footer .container .redes-sociais img{
    width: 35px;
    height: auto;
}

footer .container ul > p{
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
    
}
footer .container a{
    color: #fff;
    font-size: 16px;
    transition: opacity 0.2s ease-in-out;
}
footer .container p{
    color: #fff;
    font-size: 16px;
    
}
footer .container a:hover{
    opacity: 0.4;
}
@media screen and (max-width: 768px) {
   /* NAV */
    header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
      }
      .menu-toggle {
        display: block;
      }
      .nav-links {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        gap: 20px;
        background-color: rgb(255, 226, 189);
        width: 100%;
        padding: 10px 20px;
      }
      .nav-links.show {
        display: flex;
      }
      .nav-links li {
        padding: 10px 0;
      }
      /*Fundadores */
      .container-fundadores {
        flex-direction: column;
        gap: 2rem; 
    }

    .image-container img {
        max-width: 100%; 
    }
    .text-container {
        width: 90%; 
    }
    /* footer */
    footer .container{
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1500px){
    .container-fundadores {
        flex-direction: column;
        gap: 2rem; 
    }

    .image-container img {
        max-width: 100%; 
    }
    .text-container {
        width: 90%; 
    } 
}