*{
    margin: 10px 5px  ;
}
/* NavBar */
header{
    display: flex;
    justify-content: center;
    
    
}

ul{
    list-style: none;
    display: flex;
    gap: 100px;
    
}

a{
    text-decoration: none;
    color: black;
}

